body {
  font-family: "Poppins", sans-serif !important;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.number {
  font-family: "Source Code Pro", sans-serif !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.cursor-pointer,
.cursor-pointer * {
  cursor: pointer;
}

.btn {
  font-weight: 700;
  border-radius: 10px !important;
}

.swal2-popup .swal2-styled:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.rounded {
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}

/*
 *
 * FORM
 *
 */

.klk-form-group {
  position: relative;
  width: 100% !important;
  margin-bottom: 26px;
}

.klk-form-group .form-control {
  font-size: inherit;
  height: 50px !important;
  width: 100% !important;
  border-radius: 10px;
  padding: 15px !important;
  background-color: transparent !important;
}

.klk-form-group textarea {
  font-size: inherit;
  width: 100% !important;
  border-radius: 10px;
  padding: 15px !important;
  border-color: #ced4da;
  background-color: transparent !important;
}

.klk-form-group .form-control:focus,
.klk-form-group textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #225a94;
  outline: 0;
}

.klk-form-group label {
  position: absolute;
  font-size: 13px !important;
  margin: auto !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 21px;
  padding: 0 10px;
  color: #9e9e9e;
  font-weight: 300;
  transition: all .25s;
}

.klk-form-group .form-control:focus + label,
.klk-form-group label.active {
  bottom: calc(100% - 20px);
  height: 18px !important;
  font-size: 10px !important;
}

.klk-custom-checkbox input[type=checkbox]:focus,
.klk-custom-checkbox input[type=checkbox]:active,
.klk-custom-checkbox input[type=checkbox]:hover {
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.klk-custom-checkbox input[type=checkbox] {
  position: relative;
  -webkit-appearance: none !important;
  border: 1px solid #225a94;
  height: 20px;
  width: 20px;
  border-radius: .25rem;
  cursor: pointer;
  margin-right: 10px;
}

.klk-custom-checkbox input[type=checkbox]:checked:after {
  content: '\f00c';
  position: absolute;
  top: -11px;
  right: -6px;
  color: #225a94;
  font-size: 25px;
  font-weight: 300;
  font-family: "Font Awesome 5 Pro", sans-serif;
}

.klk-custom-checkbox label {
  display: flex;
  align-items: center;
}

.bs-switch {
  height: 15px;
  width: 30px;
}

.bs-switch .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  top: 1px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.bs-switch input:checked + .slider:before,
.bs-switch input[data-checked="true"] + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.bs-switch input[data-checked="true"] + .slider {
  background-color: #2196F3;
}

select {
  -webkit-appearance: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0 white inset !important;
  box-shadow: 0 0 0 0 white inset !important;
}

.form-control.is-valid {
  border-color: #6aa280;
}

.form-control.is-invalid {
  border-color: #d6534c;
}

.time-picker input.display-time {
  /*border-left: none !important;*/
  /*border-right: none !important;*/
  /*border-top: none !important;*/
  text-align: center;
  font-weight: 300;
  font-size: inherit;
  height: 50px !important;
  width: 100% !important;
  border-radius: 10px;
  padding: 15px !important;
  background-color: transparent !important;
}

.time-picker .dropdown {
  top: 100% !important;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none !important;
  padding-bottom: 15px;
}

.time-picker .dropdown,
.time-picker .dropdown .select-list {
  width: 15em !important;
  height: 20em !important;
}

.time-picker .dropdown ul::-webkit-scrollbar {
  display: none !important;
}

.fa-1x5 {
  font-weight: 300;
  font-size: 1.5em !important;
}

#auth .klk-form-group label {
  position: absolute;
  font-size: 18px !important;
  margin: auto !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  padding: 0 10px;
  color: #9e9e9e;
  font-weight: 300;
  transition: all .25s;
}

#auth .klk-form-group .form-control {
  font-size: inherit;
  height: 70px !important;
  width: 100% !important;
  border-radius: 10px;
  padding: 15px !important;
  background-color: transparent !important;
}

#auth .klk-form-group .form-control:focus + label,
#auth .klk-form-group label.active {
  bottom: calc(100% - 22px);
  height: 20px !important;
  font-size: .8rem !important;
}


